
# MapNG raw exports (too large for git)
beamng/california_300/from_josh/*.png
beamng/california_300/from_josh/*.jpg
beamng/california_300/from_josh/*.glb
beamng/california_300/from_josh/*.dae
beamng/california_300/from_josh/*.ter
